[Unit]
Description=Prometheus Node Exporter Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ host.data.prometheus_user }}
ExecStart={{ host.data.node_exporter_bin_dir }}/node_exporter {% if extra_args is not none %}{{ extra_args }}{%endif %}
Restart=on-failure

[Install]
WantedBy=multi-user.target
